<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210837574870-66e38lmacvmi790n25f6tclaemo9dk0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210837574870-66e38lmacvmi790n25f6tclaemo9dk0h</string>
	<key>API_KEY</key>
	<string>AIzaSyDXK1d-a3VPYBWAiRBWk-2a856LzJKHjBU</string>
	<key>GCM_SENDER_ID</key>
	<string>210837574870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juanan.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-ac7ae</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-ac7ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210837574870:ios:6ab48d3fc209257ee72577</string>
</dict>
</plist>